*{
  padding: 0px;
  margin-top: 0px;
  outline: none;
}
header{
  background: #bcbcbc;
  padding: 20px;
  width: 100%;
}
a{
  color: #cc0000;
  text-decoration: none;
  user-select: none;
  padding: 0px 10px 50px 60px;
  font-family: 'Rubik Spray Paint';
  float: none;
}

.a2{
  background: #CD9E9E;
  color: #550A0A;
  border: none;
  float: left;
  font-family: "Unbounded";
  front-size: 16px;
  padding: 5px 10px 5px 10px;
}
.h{
  color: #000000;
}
h1,h3,h2{`
  font-family: 'Pacifico';
  float: right;
  color: #000000;
}
input{
  font-family: "Unbounded";
}
p{
  font-family: 'Spectral', serif;
  font-size: 24px;
}
h5{
  font-family: "Unbounded";
  front-size: 16px;
  padding: 5px 10px 5px 10px;
}
button{
  background: #d0e0e3;
  color: #000000;
  border:none;
}
tr{
  color: black;
  font-family: 'Lobster';
}
label{
  color: black;
}

